html{
    position: fixed;
    background-image: url(images/foodbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.container{
    position: fixed;
    top:65px;
    display:block;
    gap: 2px;
    height: 86vh;
    width: 80vw;
    justify-items: center;
    justify-self: center;
}

#entryForm{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 80vw;
    align-items: center;
}

input[type="submit"],button{
    width: max-content;
    background-color: aquamarine;
    border: 0px;
    color: rgb(255, 68, 0);
    font-family: monospace;
    font-weight: bolder;
    border-radius: 8px;
    align-self: center;
}

table{
    border: 1px solid;
    border-color: #f80178;
    width: 80vw;
    height: 50%;
    font-size: smaller;
    margin-bottom: 5px;
}

.table-wrapper{
    width: 100%;
    max-height: 30%;
    overflow-y: scroll;
    scrollbar-width: none;
}

th{
    position: sticky;
    top: 0px;
    z-index: 2;
    color: #f80901;
    background-color: aqua;
    width: max-content;
}

td{
    background-color: rgb(27, 231, 27);
    width: max-content;
    height: max-content;
    text-align: center;
    overflow-y: break-word;
}

h1{
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(90deg,#fb026a,#fb6a02,#de1e1e,#f88101);
    background-clip:content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    margin-bottom: 5px;

}

label,p{
    font-family: monospace;
    font-weight:bolder;
    color: rgb(247, 65, 4);
    align-self: self-start;
}

input,select{
    border-radius: 8px;
    border-color: #f80178;
    background-color: #02fbf752;
    width: 80%;
}

#Prev{
    display: flex;
    flex-direction: row;
    width: min-content;
}

#Prev input{
    height: max-content;
    align-self: center;
    width: max-content;
}

@media (min-width:465px){
    body{
        background-image: url(images/foodbg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 380px 600px;
        background-position:center 0px;
        justify-self: center;

    }

    html{
        background: none;
    }

    .container{
        top: 40px;
        width: 330px;
        height: 480px;
    }

    #entryForm,table{
        width: 320px;
        align-self: center;
        justify-self: center;
    }
}