html{
    background-image: url(images/foodbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.container{
    position: relative;
    top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 80vw;
    height: 80vh;
    justify-self: center;
}

#entryForm{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 80vw;
}

input[type="submit"],button{
    width: max-content;
    background-color: aquamarine;
    border: 0px;
    color: rgb(255, 68, 0);
    font-family: monospace;
    font-weight: bolder;
    border-radius: 8px;
    align-self: center;
}

.table-wrapper{
    width: 100%;
    max-height: 35vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

th{
    position: sticky;
    top: 0px;
    z-index: 2;
    color: #f80901;
    background-color: aqua;
    width: max-content;
}

table{
    border: 1px solid;
    border-color: #f80178;
    width: 80vw;
    font-size: smaller;
}

td{
    background-color: rgb(27, 231, 27);
    width: max-content;
    height: max-content;
    text-align: center;
    overflow-y: break-word;
}

h1{
    font-size: 5vh;
    font-weight: bold;
    background: linear-gradient(90deg,#fb026a,#fb6a02,#de1e1e,#f88101);
    background-clip:content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    margin-bottom: 0px;
    align-self: center;

}

label{
    font-family: monospace;
    font-weight:bolder;
    color: rgb(247, 65, 4);
}

input,select{
    border-radius: 8px;
    border-color: #f80178;
    background-color: #02fbf752;
}
